@page "/"
@inject NavigationManager Navigation
<h1>Hello, world!</h1>

Welcome to your new app.

<NavLink @onclick="GotoLastKnowLocation">Last Know Location</NavLink>

@code {
    void GotoLastKnowLocation()
    {
        Navigation.NavigateTo("LastKnowLocation");
    }
}